.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     width: 80%;
     border-radius: 50%;
     padding: 40px;
   }
   
.text {
    font-size: 20px;
}
/* .line {
  border-right: 2px solid rgb(0, 0, 0);
  padding-right: 50%;  
} */
#heading{
    font-size: 36px;
    font-weight: bold;
    font-family: Georgia, serif;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    top: 0px;
    height: 150px;
    margin-top: 0px;
    margin-right: 0px;
    background-color: #f6d9d7; 
    background-size:cover;
    /* #f7e9cc */
    /* #f6d9d7 */
}
#medium{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, serif;
}
#parag{
    font-size: 18px;
    font-weight: lighter;
    font-family: Georgia, serif;
}
#bottom{
    font-size: 24px;
    font-family: cursiveGeorgia, serif;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
}
.bottompage{
    width: 100%;
    height: 120px;
    bottom: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: #f8eec3;
    background-size:cover;
}
